# Dependencias de Node.js
node_modules/
npm-debug.log

# Variables de entorno
.env

# Salidas de logs
logs/
*.log

# Configuraciones específicas del IDE/editor
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
